<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          [routerLink]="['/']"
          routerLinkActive="text-primary active"
          [routerLinkActiveOptions]="{exact: true}"
        >Home</a>
        <a class="nav-link" [routerLink]="['cv']" routerLinkActive="text-primary active">Cv</a>
        <a class="nav-link" [routerLink]="['todo']" routerLinkActive="text-primary active">Todo</a>
        <a class="nav-link" [routerLink]="['word']" routerLinkActive="text-primary active">Mini Word</a>
        <a class="nav-link" [routerLink]="['color']" routerLinkActive="text-primary active">Color</a>
      </div>
    </div>
  </div>
</nav>

<!--
  cv/edit/1
  activer cv/edit/1
  activer cv/edit
  activer cv
  activer /
-->
